.contacts-info {
    margin-top: 200px;
    transition: .8s;
    transform: translateY(0);
    opacity: 0;

    &.show-section {
        transform: translateY(-20px);
        opacity: 1;
    }
}

@media(max-width: 768px) {
    .contacts {
        margin-top: 100px;
    }
    .contacts-info {
        margin-top: 150px;
    }
}